@model IEnumerable<anypet.Models.Animal>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card-group">
    @foreach (var Animal in Model)
    {
<div class="card" style="width: 18rem;">
    <img src="@Animal.AnimalImage" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Animal.Name</h5>
        <p class="card-text">@Animal.Description</p>
        <a asp-action="Edit" asp-route-id="@Animal.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@Animal.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@Animal.Id">Delete</a>

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Animal.Age</li>
        <li class="list-group-item">@Animal.Gender</li>
        <li class="list-group-item">@Animal.Id</li>
        <li class="list-group-item">@Animal.Size</li>
        <li class="list-group-item">@Animal.Location</li>
        <li class="list-group-item">@Animal.Kind</li>
        
    </ul>
</div>}
</div>